<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.CampaignMapper">
    <resultMap id="CampaignMap" type="com.example.project.domain.Campaign">
        <id     property="id"     column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="status" column="STATUS"/>
    </resultMap>

    <select id="selectByStatus" resultMap="CampaignMap">
        SELECT ID, USER_ID, STATUS
        FROM CAMPAIGN
        WHERE TRIM(STATUS) = #{status}
    </select>

    <update id="updateStatus">
        UPDATE CAMPAIGN
        SET STATUS = #{status}
        WHERE ID = #{id}
    </update>

    <!-- CampaignMapper.xml -->
    <select id="selectByStatusForUpdate" resultMap="CampaignMap">
        SELECT ID, USER_ID, STATUS
        FROM CAMPAIGN
        WHERE STATUS = #{status}
        FOR UPDATE SKIP LOCKED
    </select>

</mapper>
